.card-header {
	background-color: #3c4195;
	color: #f9f9ff;

}

.card {
	box-shadow: 3px 12px 5px #0000000d;
	max-height: max-content;
	min-height: 200px;
	border-radius: 15px;
}

#galeria img {
	min-height: 200px;
	max-height: 500px;
}

.icons {
	width: 70px;
	height: 70px;
}

.map iframe {
	padding-bottom: 5px;
}

.video {
	min-height: 400px;
	max-height: 600px;
}

.card-header {
	text-transform: uppercase;
	font-size: 1.5em;
}

.sub {
	background-color: #eef0ef;
	color: #3c4195;
	border-bottom: solid 4px #3c4195;
}

.telefone {
	color: #3c4195;
	font-weight: 700;
	font-size: x-large;
}


.seccard {
	border: none;
	box-shadow: none;
}

.primecard {
	border-bottom: solid 5px yellow;
}

iframe {
	border-radius: 25px;
	box-shadow: 3px 12px 5px #0000000d;
} 

.menuimg {
	width: 10px;
	height: 10px;
}

.butao {
	font-weight: 500;
	font-size: 1.5em;
	text-transform: uppercase;
}

.icones {
	text-align: left;
}



